.background {
  background: url(../Images/akan.jpg);
  min-height: 650px;
  width: 100%;
  margin: 0;
}

.body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
.header {
  text-align: center;
  color: black;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.container {
  color: black;
  text-align: center;
  justify-content: center;
}
.form {
  display: flexbox;
}
.justify-content-center {
  text-align: center;
  font-size: 30px;
}
.card1 {
  justify-content: center;
  text-align: center;
}
